.cover__link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  padding: 20.7% 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s ease-out;
  background: rgba(42, 44, 47, 0.2);
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}

@media (max-width: 1270px) {
  .cover__link {
    padding: 19% 0;
  }
}

@media (max-width: 1020px) {
  .cover__link {
    padding: 15% 0;
  }
}

@media (max-width: 760px) {
  .cover__link {
    padding: 11% 0;
  }
}
