.cover__link {
  text-decoration: none;
  width: 100%;
  aspect-ratio: 16 / 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s ease-out;
  background: rgba(42, 44, 47, 0.2);
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}
