.photo-grid {
  width: 100%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 1270px) {
  .photo-grid {
    gap: 14px;
    max-width: calc(100% - 48px * 2);
  }
}

@media (max-width: 1020px) {
  .photo-grid {
    gap: 16px;
    max-width: calc(100% - 24px * 2);
  }
}

@media (max-width: 760px) {
  .photo-grid {
    gap: 12px;
    max-width: calc(100% - 16px * 2);
  }
}
