.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 10;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
