.cover {
  width: 100%;
  padding: calc((62.5% - (152px + 32px + 66px)) / 2) 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../images/cover-trains.jpg);
  background-size: 100% auto;
}

.cover:hover .cover__overlay {
  opacity: .8;
}
